amqp==5.3.1
asgiref==3.8.1
billiard==4.2.1
Brotli==1.1.0
celery==5.5.3
certifi==2025.6.15
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cloudinary==1.44.1
cron-descriptor==1.4.5
cryptography==45.0.5
defusedxml==0.7.1
distro==1.9.0
dj-database-url==3.0.0
Django==5.2.3
django-celery-beat==2.8.1
django-cloudinary-storage==0.3.0
django-cors-headers==4.7.0
django-extensions==4.1
django-filter==25.1
django-taggit==6.1.0
django-timezone-field==7.1
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.1
djoser==2.3.3
et_xmlfile==2.0.0
fire==0.7.0
fonttools==4.59.0
gunicorn==23.0.0
h11==0.16.0
idna==3.10
kombu==5.5.4
lxml==6.0.0
Markdown==3.8.2
mysql-connector-python==9.3.0
mysqlclient==2.2.7
numpy==2.2.6
oauthlib==3.3.1
opencv-python-headless==4.12.0.88
openpyxl==3.1.5
packaging==25.0
pandas==2.3.1
pdf2docx==0.5.8
pdf2image==1.17.0
pillow==11.2.1
prompt_toolkit==3.0.51
psycopg2-binary==2.9.10
pycparser==2.22
PyJWT==2.10.1
PyMuPDF==1.26.3
pypdf==6.0.0
python-crontab==3.3.0
python-dateutil==2.9.0.post0
python-decouple==3.8
python-docx==1.2.0
python-dotenv==1.1.1
python-pptx==1.0.2
python3-openid==3.2.0
pytz==2025.2
redis==6.2.0
requests==2.32.4
requests-oauthlib==2.0.0
six==1.17.0
social-auth-app-django==5.5.1
social-auth-core==4.7.0
sqlparse==0.5.3
tabula-py==2.10.0
termcolor==3.1.0
typing_extensions==4.14.0
tzdata==2025.2
urllib3==2.5.0
uvicorn==0.35.0
vine==5.1.0
wcwidth==0.2.13
whitenoise==6.9.0
xlsxwriter==3.2.5
